@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71% 4%;

    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;

    --primary: 242 87% 60%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217 32% 17%;
    --secondary-foreground: 210 40% 96%;

    --muted: 220 15% 94%;
    --muted-foreground: 220 9% 46%;

    --accent: 210 60% 98%;
    --accent-foreground: 217 32% 17%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 242 87% 60%;

    --radius: 0.75rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

    --sidebar: 233 44% 13%;
    --sidebar-foreground: 218 31% 92%;
    --sidebar-accent: 243 86% 64%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 233 25% 22%;
    --sidebar-ring: 242 87% 60%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }

  * {
    border-color: hsl(var(--border));
  }
}
